<form name="article.form" ng-submit="article.submit()">
	<div>
		<label>Title</label>
		<input class="u-full-width" type="text" placeholder="Title" ng-model="article.newArticle.title">
	</div>
	<div>
		<label>Link URL</label>
		<input class="u-full-width" type="url" placeholder="http://example.com" ng-model="article.newArticle.link">
	</div>
	<div>
		<label>Image URL</label>
		<input class="u-full-width" type="url" placeholder="http://example.com" ng-model="article.newArticle.imageUrl">
	</div>
	<div>
		<input class="button-primary" type="submit" value="Submit">
	</div>
</form>